%section.row
  %section.two.columns.offset-by-one
    .centered
      = image_tag "jdavison.jpg", :class => "personal_pic"
    = render 'layouts/articles_nav'
  %section.six.columns.end
    %div.margin
      - @article.each do |article|
        .listing
          .title #{ link_to article.title, article_path(article.id)} 
          .tags
            #{article.created_at.to_date}
            - if article.tags.empty? == false
              \   tags ->
              - article.tags.each do |tag|
                #{tag.title} ::
          - if check_blog_owner_status == true 
            = render 'layouts/blog_controls', :article => article      