.row
  .large-3.columns
    = image_tag "profile_small.jpg", class: "personal"
  .large-9.columns.links
    = render 'layouts/articles_nav'
.row
  .small-12.columns
    .margin
      - @articles.each do |article|
        .listing
          .title #{ link_to display_title(article.title), article.title} 
          .tags
            #{article.created_at.to_date}
            - if article.tags.empty? == false
              \   tags ->
              - article.tags.each do |tag|
                #{tag.title} ::
          - if check_blog_owner_status == true 
            = render 'layouts/blog_controls', :article => article      
