.row#article_container
  .small-12.columns.article#article_content{ :data => { :id => @article.id} }
    %header.title
      = display_title(@article.title)
    .details.tags
      %ul
        %li.controls
          =@article.created_at.to_date
        - if @article.tags.present?
          %li.controls
            \:: tags ::
          = render :partial => 'layouts/tag', :collection => @article.tags
        - if check_blog_owner_status
          = render 'layouts/blog_controls', :article => @article
    %p.content
      = @article.content.html_safe
    = render 'layouts/disqus'
