%section#nav_container
  #{image_tag("jdavison.jpg", :id => "blog_pic")}
  %section#nav_list
    %ul
      %li #{link_to("All Articles", articles_path)}
      %li #{link_to("Home", root_path)}
      %li #{link_to("@jcdavison", "http://www.twitter.com/jcdavison")}
      - if check_blog_owner_status == true 
        = render 'layouts/admin_nav'
      - if user_signed_in? && check_blog_owner_status == false 
        = render 'layouts/user_nav'