%section#create_article{ "data-article-id" => @article.id }
  = render :partial => 'layouts/tags', :locals => { :article => @article }
  %ul
    %li.controls
      = text_field(:new_tag, :title, :cols => "5", :id => :new_tags)
    %li.controls
      = link_to "+ Add Tags +", "javascript:void()", :id => :add_tags
  = form_for @article do |form|
    %p
      = form.label :title, :id => "label"
      = form.text_field :title, :size => "90"
    %p  
      = form.label :content
      = form.text_area :content, :cols => "80", :rows => "30"     
    %p
      = form.submit
