.row
  .large-3.columns
    = image_tag "profile_small.jpg", class: "personal"
  .large-9.columns.links
    %ul.no-bullet.bloglinks
      %li #{link_to("github/jcdavison", "http://github.com/jcdavison", :target => "new")}
      %li #{link_to("@jcdavison", "http://twitter.com/jcdavison", :target => "new")}
      %li #{link_to("Honey Badger Consulting", "#")}
      -# - if check_blog_owner_status == true 
      -#   %li #{link_to("New Article", new_article_path)}
      -#   %li #{link_to("Logout", destroy_user_session_path, :method => "DELETE")}
      -# - if user_signed_in? && check_blog_owner_status == false 
      -#   %li #{link_to("Logout", destroy_user_session_path, :method => "DELETE")}
